.header-preto {
    background-color: #000;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mesa-texto {
    font-size: 24px;
    font-weight: 900;
}

.titulo-sessao {
    padding: 20px 20px 5px;
    font-weight: 900;
    margin: 0;
    color: #333;
}

.label-mesa {
    padding: 20px 20px 5px;
    font-weight: 900;
    margin: 0;
    color: #ffffff;
}

/* Estilo do card de cada item (Hamburguer/Pizza) */
.card-alimento {
    background: #fff;
    margin: 10px 20px;
    padding: 15px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.img-detalhe {
    width: 70px;
    height: 70px;
    border-radius: 12px;
    object-fit: cover;
}

.qtd-indicador {
    background: #d9d9d9;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: 900;
}

.footer-detalhes {
    position: fixed;
    bottom: 20px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.btn-bk-acao {
    width: 100%;
    padding: 18px;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 326px) {
    .card-alimento {
        display: flex;
        flex-direction: column;
    }
}